.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-footer p:last-child {
  margin: 0;
}
.post-footer h4 {
  margin-bottom: 0;
}
.post-footer__avatar {
  background: url(./photo.jpg) no-repeat center center;
  background-size: cover;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 110px;
  flex: none;
  height: 110px;
  margin-right: 2rem;
  width: 110px;
}
@media screen and (max-width: 960px) {
  .post-footer__avatar {
    display: none;
  }
}
