# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.turbo/
node_modules/
.next/
next-env.d.ts

# testing
coverage/

# builds 
dist/

# misc
.DS_Store
*.pem
scratchpad/*

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
