.title {
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.subtitle {
  font-style: italic;
  font-weight: 500;
}
.readmore {
  color: #5d93ff;
}
.readmore:hover {
  border-bottom: 1px solid;
}
