.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.root :global(ul) {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.root :global(ul li) {
  margin: 0;
}
.link {
  font-size: 1rem;
  border-bottom: 0;
  font-weight: 400;
  color: #222;
}
.link:hover {
  border-bottom: 1px solid;
}
.activeLink {
  composes: link;
  border-bottom: 1px solid;
}
