.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.root :global(> *) {
  margin-left: 1rem;
}
.root :global(> *:first-child) {
  margin-left: 0;
}
.link {
  font-size: 1rem;
  border-bottom: 0;
  font-weight: 400;
}
.link:hover {
  border-bottom: 1px solid;
}
.activeLink {
  composes: link;
  border-bottom: 1px solid;
  color: #222;
}
