.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.root :global(p:last-child) {
  margin: 0;
}
.heading {
  margin-bottom: 0;
}
.avatar {
  background: url(./photo.jpg) no-repeat center center;
  background-size: cover;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 110px;
  flex: none;
  height: 110px;
  margin-right: 2rem;
  width: 110px;
}
@media screen and (max-width: 960px) {
  .avatar {
    display: none;
  }
}
