.root {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.root :global(> a) {
  display: block;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
}
.header {
  border-left: 4px solid rgba(0, 0, 0, 0.6);
}
.title {
  padding: 0 1rem;
}
.content {
  padding: 0 1rem;
}
