.root {
  border-top: 5px solid rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.content {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.25rem;
  max-width: calc(960px - (1.25rem * 2));
}
.main {
  composes: content;
  flex: 1 0 auto;
  position: relative;
  width: 100%;
}
